<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container name="Container1">

			<extension type="mmSquare.Betamax.Unity.BetamaxUnityExtension, mmSquare.Betamax"/>
			
			<!-- The type registration in Unity should not be altered at all -->
			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
			</register>
		</container>		
	</unity>
	
</configuration>