<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
		
		<container name="ContainerWithBetamax">
			<extension type="mmSquare.Betamax.Unity.BetamaxUnityExtension, mmSquare.Betamax"/>
			
			<!-- The type registration in Unity should not be altered at all -->
			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
			</register>
		</container>

		<container name="ContainerNoExtension">
			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
			</register>
		</container>

		
		<container name="InterceptionContainer">
			<extension type="Interception" />
			<interception>
				<policy name="InterceptAll">
					<matchingRule name="AllInNamespace"
												type="NamespaceMatchingRule">
						<constructor>
							<param name="namespaceName"
										 value="SampleInterface.*" />
						</constructor>
					</matchingRule>
					<callHandler name="RecordingCallHandler"
											 type="mmSquare.Betamax.Unity.RecordingCallHandler, mmSquare.Betamax"></callHandler>
				</policy>
			</interception>
			<register type="SampleInterface.SimpleWidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.DummyWidgetService, SampleInterfaceImplementation">
				<interceptor type="InterfaceInterceptor"/>
				<policyInjection/>
			</register>

			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
				<interceptor type="InterfaceInterceptor"/>
				<policyInjection/>
			</register>
		</container>
		
	</unity>
	
</configuration>