<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
		<sectionExtension type="mmSquare.Betamax.Unity.Configuration.BetamaxConfigurationExtension, mmSquare.Betamax.Unity" />
		
		<container name="ContainerWithBetamax">
			<extension type="mmSquare.Betamax.Unity.BetamaxRecorder, mmSquare.Betamax.Unity"/>
			
			<!-- The type registration in Unity should not be altered at all -->
			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
			</register>
		</container>

		<container name="ContainerNoExtension">
			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
			</register>
		</container>

		<container name="ContainerWithConfiguredBetamax">
			<extension type="mmSquare.Betamax.Unity.BetamaxRecorder, mmSquare.Betamax.Unity" />

			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation" />
			<register type="SampleInterface.SimpleWidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.DummyWidgetService, SampleInterfaceImplementation"/>
		</container>

		<container name="ContainerNoExtension">
			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
			</register>
		</container>
		
		<container name="InterceptionContainer">
			<extension type="Interception" />
			<interception>
				<policy name="InterceptAll">
					<matchingRule name="AllInNamespace"
												type="NamespaceMatchingRule">
						<constructor>
							<param name="namespaceName"
										 value="SampleInterface.*" />
						</constructor>
					</matchingRule>
					<callHandler name="RecordingCallHandler"
											 type="mmSquare.Betamax.Unity.RecordingCallHandler, mmSquare.Betamax.Unity"></callHandler>
				</policy>
			</interception>
			<register type="SampleInterface.SimpleWidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.DummyWidgetService, SampleInterfaceImplementation">
				<interceptor type="InterfaceInterceptor"/>
				<policyInjection/>
			</register>

			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation">
				<interceptor type="InterfaceInterceptor"/>
				<policyInjection/>
			</register>
		</container>

		<container name="BetamaxWithConfig">
			<extension type="mmSquare.Betamax.Unity.BetamaxRecorder, mmSquare.Betamax.Unity" />
			
			<betamax>
				<interestingInterface name="SampleInterface.WcfStyle.WidgetService" />
			</betamax>

			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation" />
			<register type="SampleInterface.SimpleWidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.DummyWidgetService, SampleInterfaceImplementation"/>
		</container>

		<container name="PlaybackBetamaxWithConfig">
			<extension type="mmSquare.Betamax.Unity.BetamaxRecorder, mmSquare.Betamax.Unity" />

			<betamax mode="Playback">
				<interestingInterface name="SampleInterface.WcfStyle.WidgetService" />
			</betamax>

			<register type="SampleInterface.WcfStyle.WidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.WcfWidgetService, SampleInterfaceImplementation" />
			<register type="SampleInterface.SimpleWidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.DummyWidgetService, SampleInterfaceImplementation"/>
		</container>

		<container name="PlaybackBetamaxWithTapeLocation">
			<extension type="mmSquare.Betamax.Unity.BetamaxPlayer, mmSquare.Betamax.Unity" />

			<betamax tapes="c:\temp\" >
			</betamax>

			<register type="SampleInterface.SimpleWidgetService, SampleInterface"
								mapTo="SampleInterfaceImplementation.DummyWidgetService, SampleInterfaceImplementation"/>
		</container>

		

	</unity>
	
</configuration>