<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<sectionExtension type="mmSquare.Betamax.Unity.Configuration.BetamaxConfigurationExtension, mmSquare.Betamax.Unity" />

		<container>
			<betamax>
				<interestingInterfaces>
					<interestingInterface name="SampleInterface.WcfStyle.WidgetService" />
				</interestingInterfaces>
			</betamax>
		</container>
		
	</unity>
</configuration>